.card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.productCard{
    height: 20%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: 1s;
}
.productCard:hover{
    transform: scale(1.1);
}

.productCard img{
    width: 176px;
    height: 174px;
}
.productCard a {
    text-decoration: none;
}
