.copyrightBar{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.copyrightBar__texto{
    color: white;
}